---
import styles from "@/src/styles/globals.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
    <main>
      <section>
        {/* black section */} 
      </section>
      <section>
        <div>
        erratinsilentio
        </div>
        <div>
          creative web design's <br>
          just for You
        </div>
      </section>
    </main>
	</body>
</html>

<style>

body {
  background-size: cover;
  width: 100vw;
  height: 100vh; /* Adjust the height as needed */
  background-image: url("/images/rectangle.png");
  background-size: cover; /* Makes sure the image covers the entire div */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat;
}

</style>